:root{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: hsla(34, 23%, 94%, 0.938);
    --header-height: 3vh;
    color: hsl(210, 3%, 14%);
}
header{
    height: var(--header-height);
    width: 100vw;
    background-color: hsl(81, 76%, 61%);
    position: absolute;
    top: 0;
    left: 0;
}
#root{
    display: grid;
    grid-template-columns: 70vw;
    grid-template-rows: repeat(auto-fill, 2fr [row-start]);
    grid-template-areas:
        "header"
        "input";
    grid-auto-flow: row;
    justify-content: center;
    row-gap: 1rem;
    grid-row-gap: 1rem;
    word-wrap: break-word;
    margin-top: calc(var(--header-height) + 1vh);
}
label{
    grid-area: header;
    font-size: 1.2rem;
}
#dna{
    grid-area: input;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
@media (max-width: 700px) {
    :root{
        font-size: 13px;
    }
}